<?xml version="1.0"?>

<launch>

  <arg name="no_static_map" default="false"/>
  <arg name="model" default="husky"/>
  <arg name="navigating" default="true"/>

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="tf_prefix" value="$(arg model)_tf"/>
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
     
    <rosparam file="$(find dissertation_simulation)/config/planner.yaml" command="load"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find dissertation_simulation)/config/costmap_commons.yaml" command="load" ns="global_costmap"/>
      <param name="global_costmap/robot_base_frame" value="$(arg model)_tf/base_footprint"/>
      <!-- <remap from="realsense/depth/color/points" to="realsense/depth/color/points"/> -->
      <!-- <param name="global_costmap/obstacles_camera/camera_mark/topic" value="realsense/depth/color/points"/> -->
      <!-- <param name="global_costmap/obstacles_camera/camera_clear/topic" value="realsense/depth/color/points"/> -->
      <!-- <param name="global_costmap/obstacles_laser/laser/topic" value="/$(arg model)/scan"/> -->
      
    <!-- </rosparam> -->

    <rosparam file="$(find dissertation_simulation)/config/costmap_commons.yaml" command="load" ns="local_costmap"/>
      <param name="local_costmap/robot_base_frame" value="$(arg model)_tf/base_footprint"/>
      <param name="local_costmap/obstacles_layer/laser_scan_sensor/topic" value="/$(arg model)/scan"/>
      <param name="global_costmap/obstacles_layer/laser_scan_sensor/topic" value="/$(arg model)/scan"/>
      <param name="local_costmap/obstacles_layer/camera_sensor/topic" value="/$(arg model)/realsense/depth/color/points"/>
      <param name="global_costmap/obstacles_layer/camera_sensor/topic" value="/$(arg model)/realsense/depth/color/points"/>
      <!-- <param name="local_costmap/obstacles_camera/camera_clear/topic" value="/$(arg model)/realsense/depth/color/points"/> -->
      <!-- <param name="local_costmap/obstacles_camera/camera_mark/topic" value="/$(arg model
      
      )/realsense/depth/color/points"/> -->
      <!-- <param name="local_costmap/obstacles_laser/laser/topic" value="/$(arg model)/scan"/> -->
    <!-- </rosparam> -->

    <!-- local costmap, needs size -->
    <rosparam file="$(find dissertation_simulation)/config/local_costmap.yaml" command="load" ns="local_costmap"/>
      <!-- <param name="local_costmap/width" value="15.0"/> -->
      <!-- <rosparam param="local_costmap/width" subst_value="true">30.0</rosparam> -->
      <!-- <param name="local_costmap/height" value="15.0"/> -->
      <rosparam param="local_costmap/global_frame" subst_value="true">$(arg model)_tf/odom</rosparam>
      
      <!-- <param name="local_costmap/global_frame" value="$(arg model)_tf/odom"/> -->
      <!-- <param name="local_costmap/robot_base_frame" value="$(arg model)_tf/base_link"/> -->
    <!-- </rosparam> -->

    <!-- static global costmap, static map provides size -->
    <rosparam file="$(find dissertation_simulation)/config/global_costmap.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/>
      <!-- <param name="global_costmap/global_frame" value="$(arg model)_tf/map"/> -->
      <rosparam param="global_costmap/global_frame" subst_value="true">$(arg model)_tf/map</rosparam>
      <!-- <param name="global_costmap/robot_base_frame" value="$(arg model)_tf/base_link"/> -->
    <!-- </rosparam> -->
    
    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam file="$(find dissertation_simulation)/config/global_costmap.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>
      <param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
      <param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>
      <!-- <rosparam param="global_costmap/global_frame" subst_value="True">$(arg model)_tf/odom</rosparam> -->
      <!-- <rosparam param="global_costmap/global_frame" value="$(arg model)_tf/odom"/> -->
      <!-- <param name="global_costmap/robot_base_frame" value="$(arg model)_tf/base_link"/> -->
    <!-- </rosparam> -->

      <remap from="map" to="/map" if="$(arg navigating)"/>
      <remap from="scan" to="scan" if="$(arg navigating)"/>
      <param name="local_costmap/voxel_layer/camera_mark/topic" value="/$(arg model)/realsense/depth/color/points" if="$(arg navigating)"/>
      <param name="local_costmap/voxel_layer/camera_clear/topic" value="/$(arg model)/realsense/depth/color/points" if="$(arg navigating)"/>
      <param name="global_costmap/voxel_layer/camera_mark/topic" value="/$(arg model)/realsense/depth/color/points" if="$(arg navigating)"/>
      <param name="global_costmap/voxel_layer/camera_clear/topic" value="/$(arg model)/realsense/depth/color/points" if="$(arg navigating)"/>
      <remap from="odom" to="odometry/filtered" if="$(arg navigating)"/>
      <param name="local_costmap/obstacle_layer/camera_sensor/topic" value="/$(arg model)/realsense/depth/color/points"/>

      <remap from="map" to="map" unless="$(arg navigating)"/>  
      <remap from="scan" to="scan" unless="$(arg navigating)"/>
      <!-- <remap from="camera" to="realsense/depth/color/points" unless="$(arg navigating)"/> -->
      <param name="local_costmap/voxel_layer/camera_mark/topic" value="/$(arg model)/realsense/depth/color/points" unless="$(arg navigating)"/>
      <param name="local_costmap/voxel_layer/camera_clear/topic" value="/$(arg model)/realsense/depth/color/points" unless="$(arg navigating)"/>
      <param name="global_costmap/voxel_layer/camera_mark/topic" value="/$(arg model)/realsense/depth/color/points" unless="$(arg navigating)"/>
      <param name="global_costmap/voxel_layer/camera_clear/topic" value="/$(arg model)/realsense/depth/color/points" unless="$(arg navigating)"/>
      <remap from="odom" to="odometry/filtered" unless="$(arg navigating)"/> 
    
    <!-- <remap from="move_base/local_costmap/costmap_updates" to="costmap_updates"/> -->
    <!-- <remap from="odom" to="$(arg model)_tf/odom"/> -->
    <!-- <remap from="base_link" to="$(arg model)_tf/base_link"/> -->
    
  </node>

</launch>