<?xml version="1.0"?>
<launch>
    
    <arg name="world_path" default="$(find dissertation_simulation)/worlds/tecnopucSim.world"/>
    <arg name="run_rviz" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="verbose" default="true"/>
    <arg name="extra_gazebo_args" default=""/>
    <arg name="navigating" default="true"/>

    <node if="$(arg run_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find dissertation_simulation)/config/husky.rviz" required="true"/>

    <group if="$(arg navigating)">
        <node pkg="map_server" type="map_server" name="map_server" args="$(find dissertation_simulation)/worlds/warehouse_cells_joystick.yaml"/>    
    </group>

    <group>
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world_path)" unless="$(eval world_path == 'empty')" />
            <arg name="debug" value="$(arg debug)"/>
            <arg name="gui" value="$(arg gui)"/>
            <arg name="headless" value="$(arg headless)"/>
            <arg name="paused" value="$(arg paused)"/>
            <arg name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="verbose" value="$(arg verbose)"/>
            <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
        </include>
    </group>

</launch>